$opacityTransition = opacity .3s
$textShadowTransition = text-shadow .3s, display .3s
$mainColor = rgba(31, 156, 247, 0.5)
$mainColorHover = rgba(31, 156, 247, 1)

// Theme colors for each page
$mainColor1 = rgba(31, 156, 247, 0.5)
$mainColor1Hover = rgba(31, 156, 247, 1)
$mainColor2 = rgba(105, 208, 107, 0.5)
$mainColor2Hover = rgba(105, 208, 107, 1)
$mainColor3 = rgba(199, 46, 46, 0.5)
$mainColor3Hover = rgba(199, 46, 46, 1)
$mainColor4 = rgba(236, 155, 47, 0.5)
$mainColor4Hover = rgba(236, 155, 47, 1)
